a:link{
    text-decoration:none;
    font-size:14px;
    font-family:'Segoe UI';
    font-style:normal;
}
a:hover {
    font-size:18px;
    color: red ;
}
.tb5 {
	border:2px solid #456879;
	border-radius:10px;
	height: 22px;
	width: 230px;
}
.fb5 {
	background-color: red;
	padding-left:6px;
	padding-right:6px;
	padding-top:3px;
	padding-bottom:3px;	
	color: #ffffff;
	border:1px solid #db6600;
	background-image: url(images/button_bg.jpg);
    height:40px;
}
.fb5:hover {
	background-color: #000000;	
	border:1px solid #000000;
	background-image: url(images/button_bg_over.jpg);

}